*{
    margin: 0px;

}

body{
    background-image: url("./eberhard-grossgasteiger-wDGFfQgMOrI-unsplash.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.w-h-100{
    width: 100vw;
    height: 100vh;
}
.box-1{
    
    background-color: rgb(235, 236, 240);
    border-radius: 10px;
    border: 1px ;
    
    flex: 0.2;
}
.box-3{
    background-color: rgb(235, 236, 240);
    border-radius: 10px;
    border: 1px ;
    height: 140px;
    flex: 0.2;
}
.box-1-1{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   background-color: rgb(250, 255, 255);
   border-radius: 10px;
   padding-top: 10px;
   display: none;
}
.container{
    
}
.container-1{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    gap: 30px;

}
.box-2{
    margin:auto;
    padding-top: 20px;
    width: 85%;
    
    padding-bottom: 20px;
    
}
.box-2:hover{
    background-color:rgba(0 ,0 ,0, 0.2);
    border-radius: 5px;

    padding: 5px 10px;
}
.right{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    
}
.flex{
    display: flex;
}
.end{
  display: flex;
  justify-content: end;
}
.container-2{
    width: 25%;
    height: 480px;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px auto 20px 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: absolute;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  
}
.bg-black{
    position: fixed;
    inset: 0;
    background-color: rgba(0 ,0 ,0, 0.5);
}
.input-size{
    width: 85%;
    height: 30px;
    border:1px solid grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.input-size-1{
    width: 85%;
    height: 80px;
    border:1px solid grey;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.commit-b{
    width: 85%;
    height: 45px;
    background-color: black;
    border-radius: 5px;
    
    
}

